body {
  font-family: 'Roboto', Arial, sans-serif;
}

p {
  color: red; /* Красный с помощью слов */
  font-size: 24px;
  font-style: italic;
}

h3 {
  font-size: 40px;
  color: #00cc00;
  font-weight: lighter;
}
